/* reset */
* {
    margin: 0;
    padding: 0;
}
/* luft imellem sections */
section {
    width: 900px;
    margin: 100px auto;
}

/* simpel menu */
.simple {
    display: flex;
    justify-content: space-between;
    font-family: helvetica, arial, sans-serif;
    margin: 0 auto;
    padding: 15px;
    background: #eee;
}
.simple a {
    text-decoration: none;
    margin-left: 20px;
    color: rebeccapurple;
    padding: 5px 8px;
    border-radius: 3px;
}
.simple a:hover {
    background-color: rebeccapurple;
    color: white;
}

/* faneblade */
.tabs {
    margin-top: 100px;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: center;
}
.tabs nav {
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.tabs a {
    border: 1px solid #aaa;
    padding: 10px 20px 9px 20px;
    margin-bottom: -1px;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    color: black;
    background-image: linear-gradient(#eee, #ddd);
}
.tabs a:hover {
    background-image: linear-gradient(lightyellow, rgb(236, 236, 201));
}
.tabs .active, .tabs .active:hover {
    background-image: linear-gradient(#eee, white);
    border-bottom: 1px solid white;
    cursor: default;
}

/* drop-down menu */
.drop-down {
    display: flex;
    justify-content: flex-end;
    background: #eee;
}
.drop-down li {
    display: inline;
    float: left;
    background-color: #eee;
}
.undermenu {
    /* når noget har "absolute" position, vil det placere sig som angivet (top og left) i forhold til sin nærmeste forældre med position "relative" */
    position: absolute;
    top: 36px;
    left: 0;
    /* undermenuen er usynlig som udgangspunkt */
    visibility: hidden;
    display: flex;
    flex-direction: column;
}
/* denne er forældre til undermenu */
.fold-ud {
    position: relative;
}
.fold-ud:hover .undermenu {
    /* undermenuen gøres synlig, når musen er hen over ".fold-ud" */
    visibility: visible;
}
.drop-down a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-family: helvetica, arial, sans-serif;
    color: #333;
}
.drop-down li:hover {
    background: lightblue;
}



h1 {
    color: rebeccapurple;
}

